doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bot Garage

        //- Favicon
        link(rel="shortcut icon" href="data:,")

        //- Preconnects
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)

        //- Style Sheets
        link(rel="stylesheet" href="/public/css/master.css")
        block css

        //- Fonts
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Play:wght@400;700&display=swap")
        link(rel="stylesheet", href="/public/fontawesome/css/all.min.css")

    body
        #Notifications

        asside#sidebar
            section#sidebar_title: a(href="/home/") Bot Garage
            if session.user
                section#sidebar_user
                    div#sidebar_user_image #{session.user.name[0].toUpperCase()}
                    div#sidebar_user_info
                        div#sidebar_user_name #{session.user.name}
                        div#sidebar_user_role #{session.user.admin ? "Administrator" : "Member"}

            section#sidebar_nav
                div: a(href="/home/") <i class="fa fa-house"></i> Home
                div: a(href="/bots/") <i class="fa-solid fa-robot"></i> Bots
                div: a(href="/personality/") <i class="fa-solid fa-brain"></i> Personality
                
                if session && session.user && session.user.admin
                    div: div.header Admin
                    div: a.tabbed(href="/admin/users/") <i class="fa-solid fa-users"></i> Users
                    div: a.tabbed(href="/admin/bots/") <i class="fa-solid fa-robot"></i> Bots
                    div: a.tabbed(href="/admin/guilds/") <i class="fa-brands fa-fort-awesome"></i> Guilds
                    div: a.tabbed(href="/admin/channels/") <i class="fa-solid fa-bars"></i> Channels
                    div: a.tabbed(href="/admin/messages/") <i class="fa-solid fa-message"></i> Messages
                    div: a.tabbed(href="/admin/logs/") <i class="fa-solid fa-file"></i> Logs

        block body

        script(src="/public/js/jquery-3.7.0.min.js")
        script(src="/public/js/master.js")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
        block js