extends _template

block css

block body
    main
        .container
            .card
                .card-body-skinny
                    table.table-control
                        tr
                            th Name
                            th ID
                        each channel in channels
                            tr
                                td #{channel.name}
                                td #{channel.id}


block js