extends _template

block body
    main
        .container
            .card
                .card-title Error
                .card-body
                    h1 500 - Internal Server Error
                    h3 #{message}