extends _template


block css


block body
    main
        .container
            .card
                .card-body
                    h3 Welcome to the Bot Garage, ya nutjobs! Here's where you'll get to poke around with AI bots until they learn enough to overthrow us all. Have fun tinkering, and remember - they're watching. Always watching.


block js