extends _template

block body
    main
        .row.justify-center
            .col-4
                .card
                    .card-title Login
                    .card-body
                        #loginHint.hint WARNING: You've just crawled into a pit of venomous vipers wearing a fuckin' ham suit. Unauthorized access to this device is punishable by a swift kick in the family jewels and all kinda federal laws that'll have you shitting out subpoenas for the next millennium. Bugger off or face the tunes. This ain't your grandma's Bridge club.
                        form#loginForm.form-control
                            label(for="username") Username:
                            input#username(type="text" name="username" placeholder="Username")

                            label(for="password") Password:
                            input#password(type="password" name="password" placeholder="Password")

                            input(type="submit" value="Login")

block js
    script(src="/public/js/login.js")